<!-- <div class="col-lg-12 full-screen"> -->
<div class="row">
  <%= form_for @product, html: { multipart: true } do |f| %>
    <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="control-group field">
      <div class="col-lg-5">
        <%= f.label :product_name, :class => 'control-label'%><br>
        <div class="controls">
          <%= f.text_field :product_name, :class => 'form-control' %>
        </div> 

        <%= f.label :manufacturer, :class => 'control-label'%> <br>
        <div class="field">
          <%= f.text_field :manufacturer, :class => 'form-control'%>
        </div>
      
        <%= f.label :distributer, :class => 'control-label' %><br>
        <div class="field">
          <%= f.text_field :distributer, :class => 'form-control' %>
        </div>
      
        <%= f.label :expiry_date, :class => 'control-label' %><br>
        <div class="field">
          <%= f.date_select :expiry_date, :class => 'date_select' %>
        </div>
      
        <%= f.label :manufacturing_date, :class => 'control-label' %><br>
        <div class="field">
          <%= f.date_select :manufacturing_date, :class => 'date_select' %>
        </div>
      </div>

      <div class="col-lg-5">
        <%= f.label :description, :class => 'control-label' %><br>
        <div class="field">
          <%= f.text_area :description, :class => 'form-control'  %>
        </div>
      
        <%= f.label :fda_approved, :class => 'control-label' %><br>
        <div class="field">
          <%= f.text_field :fda_approved, :class => 'form-control' %>
        </div>
      
        <%= f.label :gsa_approved, :class => 'control-label' %><br>
        <div class="field">
          <%= f.text_field :gsa_approved, :class => 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :image %><br>
          <%= f.file_field :image%>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div> 
    </div>
    <div class="col-lg-2">
        <%= image_tag @product.image.url(:medium)%>
    </div>
  <% end %>
</div>
